<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Create Account</h1>

<%= form_for @user do |f| %>
    Username: <%= f.text_field :name %><br>
    Password: <%= f.password_field :password %><br>
    Confirm Password: <%= f.password_field :password_confirmation %>
    <br><br>
    <%= f.submit %>
<% end %>